# Package Managers
# -------

node_modules/

# Logging
# -------

*.log
error_log
logs/

# Caches
# -------

cache/
tmp/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
