// ==========================================================================
// Utilities / Helpers
// ==========================================================================

// Custom Helpers
// ==========================================================================
.u-none {
    @include u-none;
}

.u-none\@from-small {
    @media (min-width: $from-small) {
        display: none;
    }
}

.u-none\@to-small {
    @media (max-width: $to-small) {
        display: none;
    }
}

.u-text-right\@from-small {
    @media (min-width: $from-small) {
        text-align: right;
    }
}

.u-none\@from-medium {
    @media (min-width: $from-medium) {
        display: none;
    }
}


// Margins

.u-margin-none {
    @include u-margin-none;
}

.u-margin {
    @include u-margin;
}

.u-margin-x {
    @include u-margin-x;
}

.u-margin-y {
    @include u-margin-y;
}

.u-margin-small {
    @include u-margin-small;
}

.u-margin-small-x {
    @include u-margin-small-x;
}

.u-margin-small-y {
    @include u-margin-small-y;
}

.u-margin-tiny {
    @include u-margin-tiny;
}

.u-margin-tiny-x {
    @include u-margin-tiny-x;
}

.u-margin-tiny-y {
    @include u-margin-tiny-y;
}

// Paddings

.u-padding {
    @include u-padding;
}

.u-padding-x {
    @include u-padding-x;
}

.u-padding-y {
    @include u-padding-y;
}

.u-padding-small {
    @include u-padding-small;
}

.u-padding-small-x {
    @include u-padding-small-x;
}

.u-padding-small-y {
    @include u-padding-small-y;
}

.u-padding-tiny {
    @include u-padding-tiny;
}

.u-padding-tiny-x {
    @include u-padding-tiny-x;
}

.u-padding-tiny-y {
    @include u-padding-tiny-y;
}
// Layout
// ==========================================================================
.u-clearfix {
    @include u-clearfix;
}

// Decorative
// =============================================================================
.u-truncate {
    @include u-truncate;
}

//  Visibility / Display
// ==========================================================================
[hidden][aria-hidden="false"] {
    position: absolute;
    display: inherit;
    clip: rect(0, 0, 0, 0);
}

[hidden][aria-hidden="false"]:focus {
    clip: auto;
}

// .u-block {
//     display: block;
// }

// /**
//  * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
//  * inline-block will display at its default size, and not limit its width to
//  * 100% of an ancestral container.
//  */
// .u-inline-block {
//     display: inline-block !important;
//     max-width: 100%; /* 1 */
// }

// .u-inline {
//     display: inline !important;
// }

// .u-table {
//     display: table !important;
// }

// .u-tableCell {
//     display: table-cell !important;
// }

// .u-tableRow {
//     display: table-row !important;
// }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-screen-reader-text {
    @include u-accessibly-hidden;
}

@media not print {
    .u-screen-reader-text\@screen {
        @include u-accessibly-hidden;
    }
}

/*
 * Extends the `.screen-reader-text` class to allow the element
 * to be focusable when navigated to via the keyboard.
 *
 * @link https://www.drupal.org/node/897638
 * @todo Define styles when focused.
 */
.u-screen-reader-text.-focusable {
    @include u-accessibly-focusable;
}
